::ng-deep .mat-dialog-container {
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    background: #fff0;
    color: rgba(0,0,0,.87);
}

::ng-deep .cdk-overlay-dark-backdrop {
        background: rgb(0 0 0 / 89%);
    }


.w-min{
    min-width: 350px;
}
.z-index{
    z-index: 1;
}
.w-max{
    max-width: 70%;
}

.orange{
    color: orange;
}
.f-size{
    font-size: 30px;
}

.btn-close{
    float: right;
}

@media (max-width: 1024px){
    .w-min{
        max-width: 230px !important;
    }
    
}

@media (max-width: 1023px){


    .hiddenVm{
        display: none;
    }
}






@media (max-width: 412px){
    ::ng-deep .cdk-overlay-pane {
        max-width: 100% !important;
    }
    

 
}