
<span type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><b class="f-size orange">x</b></span>
<div class="row">
    <div class="col-md-3 z-index hiddenVm"> <img class="w-100 w-min hiddenVm" src="../../assets/img/botella.png" alt=""></div>
    <div class="col-12 col-md-9 flex">
        <div class="card">
                <div class="container">
                    <div class="row center">
                        <div class="col-md-12"><img class="w-100 w-max" src="../../assets/img/FrameWin.png" alt=""></div>
                        <div class="col-md-12">
                            <br>
                            <b class="white">
                                PRESENTA ESTE CÓDIGO PARA <br>
                                CANJEAR TU PRODUCTO:
                            </b>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <p><b class="orange f-size">{{data.code}}</b></p>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
