<section class="bg-tona flex">
    <div class="container">

        <app-header-inicio></app-header-inicio>

        <div class="row flex">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header center white">
                        <h3>INGRESA CÓDIGO DE TIENDA</h3>
                    </div>
                    <div class="card-body">
                      <div class="col-md-12 mb-3">
                        <input type="text" class="form-control" [(ngModel)]="codigoTienda" name="tienda"  placeholder="Codigo de tienda*">
                    </div>
                        <div class="col-md-12 mb-3">
                            <input type="text" class="form-control" [(ngModel)]="code" name="codigo" placeholder="Contraseña*">
                        </div>
                        <div class="center">
                            <button class="btn btn-tona" (click)="doLogin()">Ingresar</button>
                        </div>
                        <div class="center red">
                            <p>{{messageError}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>

        </div>
    </div>
</section>




