


<div class="padding">

    <div class="row hiddenVm">
        <div class="col-md-2">
            <div class="center">
                <img class="w-100 pointer" src="assets/img/logo.png" alt="">
            </div>
        </div>


        <div class="col-md-6">
            <div class="center">
                <!-- <img class="w-100" src="../../assets/img/header_inicio.png" alt=""> -->
            </div>
        </div>

        <div class="col-md-2">
            <div class="center">
                <!-- <span class="white  font-14"><a href="../../assets/Queremos_que_toda_Nicaragua_pruebe_Toña_Light_te_invita.pdf" target="_blank" rel="noopener noreferrer">Términos y Condiciones</a></span> -->
            </div>
        </div>
        
      
    </div>



    
    <div class="row showVm">

       
        <div class="col-12">
            <div class="center">
                <img class="w-100" src="assets/img/logo.png" alt="">
            </div>
        </div>
        



</div>
