::ng-deep .map-container{ width: 100% !important;}

.font-12{ font-size: 12px;}

.table-content{
    max-height: 226px;
    overflow: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E49A04;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }