<section class="bg-tona flex">
    <div class="container">

        <app-header-form></app-header-form>

        <div class="row flex">
                

            <div class="col-12 col-md-8">
                <form [formGroup]="contactForm" (ngSubmit)="exchangeCode()">
                    <div class="card">
                        <div class="card-body">
                            <div class="center"> 
                            
                                <h3 class="white">Ingresa los datos para canjear líquido</h3>
                               <br>
                              
                                <div class="row">

                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" formControlName="CUI" placeholder="Identificación*" minlength="14"  maxlength="14"  onkeyup="javascript:this.value=this.value.toUpperCase();">
                                        <div class="alert-danger" *ngIf="CUI.invalid && (CUI.dirty || CUI.touched)">Cédula es requerida.</div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" formControlName="codigo"  placeholder="Código*">
                                    </div>

                                    
                                </div>
    
    
    
                                <br>
                                <button class="btn btn-tona" [disabled]="!contactForm.valid"><b class="white">Enviar</b></button>
                                
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>

            

            <app-footer-info></app-footer-info>
        </div>

    </div>
</section>




