<section class="bg-tona flex">
    <div class="container">

        <app-header-form></app-header-form>

        <div class="row flex">
                

            <div class="col-12 col-md-8">
                <form >
                    <div class="card">
                        <div class="card-body">
                            <div class="center"> 
                            
                                <h3 class="white">Ingresa los datos para Canjear el liquido</h3>
                               <br>
                              
                                <div class="row">

                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control"   placeholder="Cedula*">
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control"   placeholder="Codigo*">
                                    </div>

                                    
                                </div>
    
    
    
                                <br>
                                <button class="btn btn-tona" (click)="exchangeCode()"><b class="white">Enviar</b></button>
                                
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>

            

            <app-footer-info></app-footer-info>
        </div>

    </div>
</section>




