<!-- 

<div class="padding">
    <div class="row">

        <div class="col-md-2">
            <div class="center">
                <img class="w-100" src="../../assets/img/logo.png" alt="">
            </div>
        </div>

        
        <div class="col-md-8">
            <div class="center">
                <img class="w-100 m-width" src="../../assets/img/iframe2.png" alt="">
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
           
                <div class="col-4 col-md-4">
                  <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_fb.png" alt="">
                </div>
                <div class="col-4 col-md-4">
                    <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_instagram.png" alt="">
                </div>
                <div class="col-4 col-md-4">
                    <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_twitter.png" alt="">
                </div>
            </div>
        </div>


    </div>
</div> -->


<div class="padding">

    <div class="row hiddenVm">
        <div class="col-md-2">
            <div class="center">
                <img class="w-100" src="../../assets/img/logo.png" alt="">
            </div>
        </div>


        <div class="col-md-6">
            <div class="center">
                <img class="w-100 m-width" src="../../assets/img/iframe2.png" alt="">
            </div>
        </div>

        <div class="col-md-2">
            <div class="center">
                <span class="white  font-14"><a href="../../assets/Queremos_que_toda_Nicaragua_pruebe_Toña_Light_te_invita.pdf" target="_blank" rel="noopener noreferrer">Términos y Condiciones</a></span>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="row">
                <div class="col-4 col-md-4">
                  <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_fb.png" alt="">
                </div>
                <div class="col-4 col-md-4">
                    <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_instagram.png" alt="">
                </div>
                <div class="col-4 col-md-4">
                    <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_twitter.png" alt="">
                </div>
            </div>
        </div>
    </div>



    
    <div class="row showVm">
       
        <div class="col-4">
            <div class="center">
                <img class="w-100" src="../../assets/img/logo.png" alt="">
            </div>
        </div>

        <div class="col-5">
            <div class="right">
                <span class="white"><a href="../../assets/Queremos_que_toda_Nicaragua_pruebe_Toña_Light_te_invita.pdf" target="_blank" rel="noopener noreferrer">Términos y Condiciones</a></span>
            </div>
        </div>

        <div class="col-3 flex-right">
            <div class="col-4">
                <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_fb.png" alt="">
            </div>
            <div class="col-4">
                <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_instagram.png" alt="">
            </div>
            <div class="col-4">
                <img class="pointer w-100 push-on-hover social" src="../../assets/img/icon_twitter.png" alt="">
            </div>
        </div>
    </div>

       <div class="row showVm">
            <div class="col-12">
                <div class="center">
                    <img class="w-100 m-width" src="../../assets/img/iframe2.png" alt="">
                </div>    
            </div>
       </div>


</div>


