.padding{ padding: 3%;}
.social{ max-width: 50px;}
.m-width{ max-width: 400px; }
.img:hover{transform: translateY(0) scale(1.2);}

/*==================*/
/* PUSH
/*==================*/

@-webkit-keyframes push-on-hover {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes push-on-hover {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .push-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .push-on-hover:hover, .push-on-hover:focus, .push-on-hover:active {
    -webkit-animation-name: push-on-hover;
    animation-name: push-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .showVm{display: none;}

  @media (max-width: 1024px){
    .hiddenVm{
      display: none;
    }
    .showVm{display: flex;}
  }
