<section class="bg-tona">
    <div class="container">

        <app-header></app-header>


        <div class="row">

            <div class="col-md-2">
                <button class="btn btn-step"> <b class="white"> PASO 1 </b></button>
                <br><br>
                <p class="white center"> <b>INGRESA  A </b>
                   <span class="font-12">WWW.CERVEZATONA.COM/ TOÑALIGHT</span> </p>
            </div>

            <div class="col-md-2">
                <button class="btn btn-step"> <b class="white"> PASO 2 </b></button>
                <br><br>
                <p class="white center"> <b>LLENA EL FORMULARIO</b> PARA PARTICIPAR</p>
            </div>

            <div class="col-md-3">
                <button class="btn btn-step"> <b class="white"> PASO 3 </b></button>
                <br> <br>
                <p class="white center"> <b>GUARDA TU CÓDIGO</b> PROMOCIONAL</p>
            </div>

            <div class="col-md-2">
                <button class="btn btn-step"> <b class="white"> PASO 4 </b></button>
                <br> <br>
                <p class="white center"> <b>CANJEA TU TOÑA LIGHT GRATIS</b> EN CUALQUIER <img class="w-100" src="../../assets/img/place.png" alt=""></p>
            </div>

            <div class="col-md-2">
                <button class="btn btn-step"> <b class="white"> PASO 5 </b></button>
                <br> <br>
                <p class="white center"><b>LLEVA 2 BOTELLAS RETORNABLES</b> VACÍAS PARA PODER HACER EFECTIVO TU PREMIO</p>
            </div>

        </div>


        <br><br>


        <div class="row">
            <div class="col-md-12">
                <div class="center">
                    <button class="btn btn-tona" (click)="goToForm()"> <b class="white"> LLENA EL FORMULARIO </b></button>
                </div>
            </div>
        </div>


        <br><br>


        <div>
            <app-map></app-map>
        </div>






        <app-footer></app-footer>

    </div>
</section>