<section class="bg-tona">
    <div class="container">

        <app-header-info></app-header-info>


        <div class="row">

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="center"> 
                            <img src="../../assets/img/c1.png" alt="">
                        </div>
                    </div>
                </div>
                <br>
                <p class="white center">1. INGRESA A TONA LIGTH AZUL</p>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="center"> 
                            <img src="../../assets/img/c2.png" alt="">
                        </div>
                    </div>
                </div>
                <br>
                <p class="white center">2. LLENA EL FORMULARIO PARA PARTICIPAR</p>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="center"> 
                            <img src="../../assets/img/c3.png" alt="">
                        </div>
                    </div>
                </div>
                <br>
                <p class="white center">3. GUARDA TU CODIGO PROMOCIONAL</p>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="center"> 
                          <img src="../../assets/img/c4.png" alt="">
                        </div>
                    </div>
                </div>
                <br>
                <p class="white center">4. CANJEA TU TONA LIGHT EN CUALQUIER AM PM Y SUPER EXPRESS</p>
            </div>
            
        </div>


        <br><br>
        
        <div class="row">
            <div class="col-md-12">
                <div class="center">
                    <button class="btn" (click)="goToForm()"> <b class="white"> LLENA EL FORMULARIO </b></button>
                </div>
            </div>
        </div>


        <app-footer-info></app-footer-info>

    </div>
</section>