

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pos{
    position: relative;
    top: -300px;
}

.card-body {
    padding: 1rem 3rem;
}

.form-check-label{
    float: left;
}







@media (max-width: 1024px){
    .pos{
        position: relative;
        top: 0;
    }

    .card-body {
        padding: 1rem 1rem;
    }
    
    .hiddenVm{
        display: none;
    }
}




